.home-nav {
    margin-top:25px;
}
kbd {
    background-color: #3cb521;
}
h1 kbd {
    margin-right:4px;
}

.navbar-header kbd {
    margin-right: 3px;
}

.navbar-brand{
    padding-top:5px;
    padding-bottom:5px;
}


.r {
  float:right;
}

.page-options {
    margin-bottom: 20px;
}

ul.meetings {
    padding-left:0px;
    margin-left:18px;
    list-style: none;
}
ul.meetings li {
    line-height: 18px;
    /*margin-bottom: 21px;*/
    min-height:21px;
}
ul.meetings li.bullet {
    margin-bottom: 0px;
    margin-top: 2px;
}
ul.meetings li.bullet:before {
    margin-left:-18px;
    padding-left:0;
    padding-right: 5px;
    content: "•";
    font-size: 170%;
    top: 4px;
    position: relative;
}
ul.meetings.treasures li.bullet:before {
    color: #4D565D;
}
ul.meetings.ministry li.bullet:before {
    color: #B2731D;
}
ul.meetings.living li.bullet:before {
    color: #82031D;
}
ul.meetings li.bullet span {
    top:2px;
    position:relative;
}
ul.meetings li span {
	margin-left:10px;
}


p.fullname {
    margin-bottom:2px;
}

.alert-top { margin-top:20px; }


label {
    margin-bottom: 0;
}

.badge {
    background-color:#274B68;
}
.badge-red {
    background-color: #F32537;
}
.badge-assistant {
    background-color: #BCC5EE;
}

h1.home {
    text-align:center;
    margin-bottom:0;
    border-bottom:1px solid #666;
}
h5.home {
    text-align:center;
    margin-top:0;
    font-size:15px;
}

a.home {
    width:120px;
}
.br {
    margin-top:30px;
}

.footer {
    padding:20px;
}
.footer-item {
    padding:20px;
}


.cursor-pointer {
    cursor: pointer;
}


/* ARIA */
li[aria-selected='true'] {
    color: black;
    background-color: #fff;
    border-bottom: 1px solid white;
}
div[aria-hidden='true'] {
    display: none;
}
.tab a{
    cursor:pointer;
}


.btn-login {
  background-color: #fff;
  color: #5cb85c;
  border-color: #4cae4c;
}
.btn-login:focus,
.btn-login.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.btn-login:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-login:active,
.btn-login.active,
.open > .dropdown-toggle.btn-login {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-login:active:hover,
.btn-login.active:hover,
.open > .dropdown-toggle.btn-login:hover,
.btn-login:active:focus,
.btn-login.active:focus,
.open > .dropdown-toggle.btn-login:focus,
.btn-login:active.focus,
.btn-login.active.focus,
.open > .dropdown-toggle.btn-login.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}
.btn-login:active,
.btn-login.active,
.open > .dropdown-toggle.btn-login {
  background-image: none;
}
.btn-login.disabled,
.btn-login[disabled],
fieldset[disabled] .btn-login,
.btn-login.disabled:hover,
.btn-login[disabled]:hover,
fieldset[disabled] .btn-login:hover,
.btn-login.disabled:focus,
.btn-login[disabled]:focus,
fieldset[disabled] .btn-login:focus,
.btn-login.disabled.focus,
.btn-login[disabled].focus,
fieldset[disabled] .btn-login.focus,
.btn-login.disabled:active,
.btn-login[disabled]:active,
fieldset[disabled] .btn-login:active,
.btn-login.disabled.active,
.btn-login[disabled].active,
fieldset[disabled] .btn-login.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-login .badge {
  color: #5cb85c;
  background-color: #fff;
}



/* PANELS */
.panel-treasures{margin-bottom:5px;border-color:#4D565D;}
.panel-treasures > .panel-heading {
    color: #ffffff;
    background-color: #4D565D;
    border-color: #4D565D;
}
.panel-treasures > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #4D565D;
}
.panel-treasures > .panel-heading .badge {
    color: #d9edf7;
    background-color: #4D565D;
}
.panel-treasures > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #4D565D;
}

.panel-ministry {
    border-color: #B2731D;
    margin-bottom:5px;
}
.panel-ministry > .panel-heading {
    color: #ffffff;
    background-color: #B2731D;
    border-color: #B2731D;
}
.panel-ministry > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #B2731D;
}
.panel-ministry > .panel-heading .badge {
    color: #d9edf7;
    background-color: #B2731D;
}
.panel-ministry > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #B2731D;
}

.panel-living {
    border-color: #82031D;
	margin-bottom:5px;
}
.panel-living > .panel-heading {
    color: #fff;
    background-color: #82031D;
    border-color: #82031D;
}
.panel-living > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #82031D;
}
.panel-living > .panel-heading .badge {
    color: #d9edf7;
    background-color: #82031D;
}
.panel-living > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #82031D;
}

.panel-weekhead {
    border-color: #1F3459;
	margin-bottom:10px;
}
.panel-weekhead > .panel-heading {
    color: #fff;
    border-color: #1F3459;

    background: repeating-linear-gradient(
        45deg,
        #1F3459,
        #1F3459 4px,
        #274B68 4px,
        #274B68 6px
    );

}
.panel-weekhead > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #bce8f1;
}
.panel-weekhead > .panel-heading .badge {
    color: #fff;
    background-color: #1F3459;
}
.panel-weekhead > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #bce8f1;
}

.panel-grey {
    border-color: #DEDFD9;
}
.panel-grey > .panel-heading {
    color: #fff;
    background-color: #DEDFD9;
    border-color: #DEDFD9;
}
.panel-grey > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #bce8f1;
}
.panel-grey > .panel-heading .badge {
    color: #fff;
    background-color: #1F3459;
}
.panel-grey > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #DEDFD9;
}


/* ALERTS */
.alert-treasures {
  color: #ffffff;
  background-color: #4D565D;
  border-color: #4D565D;
  padding: 5px 7px;
  margin-bottom: 8px;
}
.alert-treasures hr {
  border-top-color: #4D565D;
}
.alert-treasures .alert-link {
  color: #a94442;
}

.alert-ministry {
  color: #ffffff;
  background-color: #B2731D;
  border-color: #B2731D;
  padding: 5px 7px;
  margin-bottom: 8px;
}
.alert-ministry hr {
  border-top-color: #B2731D;
}
.alert-ministry .alert-link {
  color: #a94442;
}

.alert-living {
  color: #ffffff;
  background-color: #82031D;
  border-color: #82031D;
  padding: 5px 7px;
  margin-bottom: 8px;
}
.alert-living hr {
  border-top-color: #82031D;
}
.alert-living .alert-link {
  color: #82031D;
}


/* list-group-item */
.list-group-item-living {
  color: #82031D;
  background-color: #f2dede;
}
a.list-group-item-living,
button.list-group-item-living {
  color: #82031D;
}
a.list-group-item-living .list-group-item-heading,
button.list-group-item-living .list-group-item-heading {
  color: inherit;
}
a.list-group-item-living:hover,
button.list-group-item-living:hover,
a.list-group-item-living:focus,
button.list-group-item-living:focus {
  color: #82031D;
  background-color: #ebcccc;
}
a.list-group-item-living.active,
button.list-group-item-living.active,
a.list-group-item-living.active:hover,
button.list-group-item-living.active:hover,
a.list-group-item-living.active:focus,
button.list-group-item-living.active:focus {
  color: #fff;
  background-color: #82031D;
  border-color: #82031D;
}

.list-group-item-ministry {
  color: #B2731D;
  background-color: #F5DFBE;
}
a.list-group-item-ministry,
button.list-group-item-ministry {
  color: #B2731D;
}
a.list-group-item-ministry .list-group-item-heading,
button.list-group-item-ministry .list-group-item-heading {
  color: inherit;
}
a.list-group-item-ministry:hover,
button.list-group-item-ministry:hover,
a.list-group-item-ministry:focus,
button.list-group-item-ministry:focus {
  color: #B2731D;
  background-color: #ebcccc;
}
a.list-group-item-ministry.active,
button.list-group-item-ministry.active,
a.list-group-item-ministry.active:hover,
button.list-group-item-ministry.active:hover,
a.list-group-item-ministry.active:focus,
button.list-group-item-ministry.active:focus {
  color: #fff;
  background-color: #B2731D;
  border-color: #B2731D;
}
