<?= $this->Html->css('spacelab.min', ['fullBase' => true]) ?>
<style>
    @page { margin: 0; }
    body { margin: 0 5mm; }
</style>
<div class="page-header">
    <h1>in the pdf view!</h1>
</div>

<ul class="list-group">
    <li class="list-group-item">Item 1</li>
    <li class="list-group-item">Item 1</li>
</ul>
<table class="table">
    <thead>
        <tr>
            <th>Col 1</th>
            <th>Col 2</th>
            <th>Col 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><?= $month->id ?></td>
            <td><?= $month->id ?></td>
            <td><?= $month->id ?></td>
        </tr>
        <tr>
            <td><?= $month->id ?></td>
            <td><?= $month->id ?></td>
            <td><?= $month->id ?></td>
        </tr>
    </tbody>
</table>