<div class="page-header">
    <h1>Edit Reading <small class="text-uppercase">Treasures From God's Word</small></h1>
</div>


<?php
if($debug):
    debug(json_encode($meetingMidweek, JSON_PRETTY_PRINT));
endif;
?>